/*comments--- box sizing*/ 

html {
    box-sizing: border-box;
}

*,
*: before,
*:after {
    box-sizing: inherit;
}

/*header*/
.brand {
    padding-top: 45px;
    padding-bottom: 45px;   
}

.nav {
    padding-top: 60px;
}

.pull-right{
    float: right;
}

/*footer*/
.social {
    text-align: center;
}

/*main contents*/
.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
}

.page-header p {
    padding-left: 15px;
}

/*homepage*/
.page-header.home {
    margin-bottom: 0;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    height: 210px;
}

/*about page*/
.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}

/*portfolio*/

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-title {
    display: none; /*hide portfolio image text*/
}

/*blog*/
.info li {
    display: inline-block;
}

.sidebar {
    padding: 10px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
   padding-right: 10px;
   padding-bottom: 10px;  
}

/*contact*/
.table,
.form p,
.map h2 {
    margin-left: 15px;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
overflow: hidden;
}

.one-whole {
    width: 940px;
}

.three-quaters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.one-quarter {
    width: 220px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
 display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

body {
    color: #a59e9b;
    background-color: #dcdfe1;
}

h1 {
    color: #55677b;
}

h2 {
    color: #333;
}

h3 {
    color: #333;
}

h4 {
    color: #333;
}

a {
    color: #fff;
}

.header {
    background-color: #55677b;
}

.main {
    background-color: #dcdfe1;
}

footer {
    background-color: #55677b;
}

footer h4 {
    color: #fff;
}

.footer-bottom {
    background-color: #190800;
    color: #fff;
}

.page-header {
    background-color: #cfe;
    color: #fff;
}

.message {
    background-color: #0fc;
}

.message h3 {
    color: #fff;
}

.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox li {
    color: #190800;
}

/*not working! need help*/
.contentbox-beige {
    background-color: #ffffe6;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-turquoise{
    background-color: #cfe;
    padding: 10px;
    margin-bottom: 70px;
}

.content>img {
    float: left;
    margin-right: 15px;
}

.content>img {
    float: left;
    margin-right: 15px;
}

.tile {
    background-color: #cfe;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-tease {
    color: #fff;
}

.blog-tease h2 {
    color: #fff;
}

