body {
    width: 800px;
    background-color: bisque;
    text-align: center;
}

h1 {
    font-family: 'Slabo 27px', serif;
    color: brown;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
}

.button {
    display: inline-block;
    font-size: 14px;
    background-color: orange;
    color: #FFF;
    padding: 15px 20px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

.button:hover {
    background-color: antiquewhite;
}



